@charset "utf-8";
/* CSS Document */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Microsoft YaHei', Tahoma, Arial, sans-serif;
  background-color: #f4f4f4;
}
/*body {*/
  /*color: #000;*/
  /*font-family: arial;*/
  /*background: #FFF;*/
  /*overflow-x: hidden;*/
  /*max-width: 750px;*/
  /*margin: 0 auto;*/
/*}*/
ol,
ul {
  list-style: none;
}
input,
select,
form images,
button {
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
textarea {
  width: 95%;
}
a {
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ul,
ol,
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
img {
  border: none;
  display: inline-block;
}
input,
img {
  vertical-align: middle;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.w33 {
  width: 33.3333%;
}
.w50 {
  width: 50%;
}
.header-top {
  width: 100%;
  height: 1.96rem;
  background: #ff841d;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}

/*设置文字大小(防止页面加载进入的时候字体大小变化很大，所以文字的容器一定要是下面这些元素)*/
[data-dpr="1"] p,
[data-dpr="1"] i,
[data-dpr="1"] span,
[data-dpr="1"] label,
[data-dpr="1"] b,
[data-dpr="1"] a,
[data-dpr="1"] button,
[data-dpr="1"] input::-webkit-input-placeholder,
[data-dpr="1"] textarea::-webkit-input-placeholder {
  font-size: 16px;
}
/* dpr = 1 */
[data-dpr="2"] p,
[data-dpr="2"] i,
[data-dpr="2"] span,
[data-dpr="2"] label,
[data-dpr="2"] b,
[data-dpr="2"] a,
[data-dpr="2"] button,
[data-dpr="2"] input::-webkit-input-placeholder,
[data-dpr="2"] textarea::-webkit-input-placeholder {
  font-size: 24px;
}
/* dpr = 2 */
[data-dpr="3"] p,
[data-dpr="3"] i,
[data-dpr="3"] span,
[data-dpr="3"] label,
[data-dpr="3"] b,
[data-dpr="3"] a,
[data-dpr="3"] button,
[data-dpr="3"] input::-webkit-input-placeholder,
[data-dpr="3"] textarea::-webkit-input-placeholder {
  font-size: 34px;
}
/* dpr = 3 */
[data-dpr="1"] h3 {
  font-size: 12px;
}
/* dpr = 1 */
[data-dpr="2"] h3 {
  font-size: 26px;
}
/* dpr = 2 */
[data-dpr="3"] h3 {
  font-size: 38px;
}
/* dpr = 3 */
[data-dpr="1"] h2 {
  font-size: 14px;
}
/* dpr = 1 */
[data-dpr="2"] h2 {
  font-size: 28px;
}
/* dpr = 2 */
[data-dpr="3"] h2 {
  font-size: 40px;
}
/* dpr = 3 */
[data-dpr="1"] h1 {
  font-size: 16px;
}
/* dpr = 1 */
[data-dpr="2"] h1 {
  font-size: 30px;
}
/* dpr = 2 */
[data-dpr="3"] h1 {
  font-size: 42px;
}
/* dpr = 3 */

