*{margin:0;padding:0}
.header{width:3.5rem;background:#373a41;height:.64rem;padding-left:.25rem;padding-top:.03rem;}
.header p{float: left;margin-right:.35rem}
.header p img{width:.15rem;height:.15rem;margin-top:.25rem}
.header h3{float: left;font:.14rem/.64rem "";color:#fff}
.header a{float: left;}
.header a img{width:.0.8rem;height:.25rem;margin-left:.9rem;margin-top:.2rem}

.video{}
.video img{width:3.75rem;height:2.8rem; }
.tab{width:3.75rem;height:.4rem;display:flex;justify-content: space-around;font:.12rem/.4rem "";color:#000}
.tab p.active{border-bottom:.02rem solid blue}

.tab p a{color:#000}
.chart{width:3.75rem;overflow:auto;background:#efefef;display:block}
.vie{width:3.75rem;overflow:auto;background:#efefef;height:2rem;display:none}
.chart-one{overflow: hidden}
.chart-l{float:left;padding:.13rem;}
.chart-r{float:left;background:#fff;border-radius:.05rem;padding:.05rem;margin-top:.13rem}
.chart-r span{font-size:.1rem;color:#aaa}
.chart-r p{color:#333}
.chart-l img{width:.40rem;height:.40rem;float:left}

.btn{width:3.75rem;height:.3rem}
.btn b{width:2.98rem;height:.25rem;border:.01rem solid #ccc;float: left;border-radius: .2rem;margin:.05rem;padding-left:.1rem}
.btn b input{border:0}
.btn p{height:.25rem;width:.25rem;float:left;border-radius: 50%;border:.01rem solid #ccc;text-align:center;margin:.06rem;}
.btn p img{height:.15rem;width:.15rem;vertical-align: middle;margin-top:.05rem}

.btn span.msg{height:.25rem;width:.25rem;float:left;border-radius: 50%;border:.01rem solid #ccc;text-align:center;margin:.06rem;display:block }
.btn span.toMsg{height:.25rem;width:.25rem;float:left;border-radius: 50%;border:.01rem solid #ccc;text-align:center;margin:.06rem;

background:#c3c3c3;font:.12rem/.25rem "";color:#fff;}

.btn span img{height:.15rem;width:.15rem;vertical-align: middle;margin-top:.05rem}
