<!doctype html>
<html lang="en">

<head>
  {block name="title"} {/block}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="/static/live/js/flexible.js"></script>
  <link rel="stylesheet" href="/static/live/css/base.css"> {block name="css"} {/block}
</head>

<body>
  {block name="mian"} {/block}

  <script src="/static/live/js/template.js"></script>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  {block name="js"} {/block}
</body>

</html>
