<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/live/css/room.css">
    <link rel="stylesheet" href="/static/live/css/public.css">
</head>

<body>
    <!-- <div class="header">
        <p>
            <img src="/static/live/imgs/p1.png" alt="">
        </p>
        <span></span>
        <h3>双溪大健康免疫细胞专题讲座</h3>
        <a href="">
            <img src="/static/live/imgs/p2.png" alt="">
        </a>
    </div> -->
    <div class="video">
        <iframe src="http://yunpintech.com/watch/9432068?player" style="width: 640px; height: 360px; overflow:hidden;" scrolling="no" allowFullScreen> </iframe>
    </div>
    <div class="tab">
        <p class="ta">
            <a>图文直播 </a>
        </p>
        <p class="ta">
            <a >聊天室 </a>
        </p>
    </div>
    <div class="chart vi">
        <div class="chart-one">
            <div class="chart-l">
                <a href="">
                    <img src="/static/live/imgs/p4.png" alt="">
                </a>
            </div>
            <div class="chart-r">
                <span>智成</span>
                <p>没有声音了</p>
            </div>
        </div>
        <div class="chart-one">
            <div class="chart-l">
                <a href="">
                    <img src="/static/live/imgs/p4.png" alt="">
                </a>
            </div>
            <div class="chart-r">
                <span>智成</span>
                <p>没有声音了</p>
            </div>
        </div>
        <div class="chart-one">
            <div class="chart-l">
                <a href="">
                    <img src="/static/live/imgs/p4.png" alt="">
                </a>
            </div>
            <div class="chart-r">
                <span>智成</span>
                <p>没有声音了</p>
            </div>
        </div>
        <div class="chart-one">
            <div class="chart-l">
                <a href="">
                    <img src="/static/live/imgs/p4.png" alt="">
                </a>
            </div>
            <div class="chart-r">
                <span>智成</span>
                <p>没有声音了</p>
            </div>
        </div>
        <div class="chart-one">
            <div class="chart-l">
                <a href="">
                    <img src="/static/live/imgs/p4.png" alt="">
                </a>
            </div>
            <div class="chart-r">
                <span>智成</span>
                <p>没有声音了</p>
            </div>
        </div>
    </div>
    <div class="vie"></div>
    <div class="btn">
       <b> <input type="text" placeholder="来 说 点 什 么 吧" class="input"></b>
       <!-- <p><img src="/static/live/imgs/p5.png" alt=""></p> -->
       <!-- <span class="msg"><img src="/static/live/imgs/p6.png" alt=""></span> -->
       <span class="toMsg">发送</span>
    </div>

</body>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/live/js/room.js" type="text/javascript"></script>
<script>
    var wsServer = 'ws://'+document.domain+':9501';
    var websocket = new WebSocket(wsServer);
    window.onload = function () {
        websocket.onopen = function (evt) {
            addLine("Connected to WebSocket server.");
        };

        websocket.onclose = function (evt) {
            addLine("Disconnected");
        };

        websocket.onmessage = function (evt) {
            addLine('Retrieved data from server: ' + evt.data);
        };

        websocket.onerror = function (evt, e) {
            addLine('Error occured: ' + evt.data);
        };
    };
    function addLine(data) {
        console.log(data);
        $("#line").append("<li>"+data+"</li>");
    }
    function say() {
        var content = $("#says").val();
        var action = $("#action").val();
        $("#says").val('');
        websocket.send(JSON.stringify({
            action:action,
            content:content
        }));
    }
</script>
</html>
